<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinQuickQR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WinQuickQR.Properties.Settings>
            <setting name="ECCLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PixelPerModule" serializeAs="String">
                <value>20</value>
            </setting>
        </WinQuickQR.Properties.Settings>
    </userSettings>
</configuration>